FILE_S3_KEY=YOUR_FILE_NAME_IN_S3
CLOUDFRONT_URL=YOU_CLOUDFRONT_URL
CLOUDFRONT_PUBLIC_KEY_ID=PUBLIC_KEY_ID_FOR_YOUR_CLOUD_FRONT_PAIR_KEYS
CLOUDFRONT_PRIVATE_KEY= SAMPLE: {"private_key" : "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2UxKe+Sfab3FbjYI62vg\n/7UDELfXKJbGtVdzH+dxeFmGv/fFV/5HDWgSzpApRQhIMgVXIc9qeetVWGi3l64q\nLS2MdtDdc5Gs/rQhncdItkSMNe7VZeOldzylxfIuE2NdYQ7ZkeMQwp3/65baZry9\n5IbWDn9qp7Y/oDvHD7SpPRgfKkSIBs2sXpnCYeGyVCqQFo85jxsPS1BFM0HYzjmU\n8jTcZTrOZn4pNfkRwQifML+5dUAbTSJquEXUampNe3e98fwlLSnCIUzhxpsDZm+q\n5t8aoqI5YRTwuzrCELR8T39n+bKy+2sYEkM0JjsKIoKwcxFZtJOJ/WAndea4A8M3\nxQIDAQAB\n-----END PUBLIC KEY-----"}
EXPIRES_HOURS=EXPIRES_SECTION_IN_HOURS
###Don't forget the \n in private key